.hidden {
  display: none;
}
/*Input Elements*/
.rbox{
  background: #c1bfbd;
  /*padding: 30px;*/
  width: 100%;
  display: flex;
  height: 130px;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-size: 14pt;
  font-weight: bolder;
}

.imgDiv{
  width: 100px;
  height: 100px;
  vertical-align: middle;
  position: relative;
}

.imgRot{
  width: 50px;
  height: 50px;
  display: none;
}

.imgDiv:hover .imgRot{
  display: block;
  opacity: 0.9;
  position: absolute;
  top: 25%;
  left: 25%;
  cursor: pointer;
}

#delete:hover{
  cursor: pointer;
}

.txtInput{
  font-size: 14pt;
  font-weight: bold;
  position:relative;
  left: 0;
}
.inputbox{
  position: absolute;
  left: 150px;
  width: 50%
}

.inputbox,.txtInput {
  padding: 5px;
}

.btnInput, .btnExport{
  height: 50px;
  width: 200px;
  position: absolute;
}
.btnInput {
  top: 100px;
  right: 30px;
}
.btnExport {
  top: 100px;
  right: 240px;
}

.comment{
  border: 1px solid black;
  width: 100%;
  height: 100%;
}
/*Table Elements*/
table, th, td{
  border: 1px solid black;
}
th, td{
  padding: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th{
  height: 50px;
  background-color: #0710bb;
  color: white;
}

table, tr {
  height: 100%
}

.widecol{
  width:60%;
}
.normalcol{
  width: 10%;
}

/*Log Elements*/

#wrapper {
  display: flex;
  position: relative;
}
#instruction {
  padding: 5px;
}
#Page{
  width: 8.5in;
  height: 11.00in;
  border: dashed black 1pt;
  flex: 0 0 8.5in;
  background: white;
  margin: auto;
  position: relative;
}
.logTemplate, .log {
  width: 7.5in;
  height: 10in;
  border: solid black 1pt;
  position: absolute;
  top: 0.4in;
  left: 0.5in;
  background: white;
}
#logheader{
  width: 7.425in;
  height: 1.52in;
  /*border: solid black 1pt;*/
  position: absolute;
  top: 0.025in;
  left: 0.046in;
}
#upperPhoto{
  width: 7.425in;
  height: 3.85in;
  /*border: solid black 1pt;*/
  position: absolute;
  top: 2.15in;
  left: 0.046in;
}
#lowerPhoto{
  width: 7.425in;
  height: 3.86in;
  /*border: solid black 1pt;*/
  position: absolute;
  top: 6.1in;
  left: 0.046in;
  background: white;
  margin-bottom: 0.5in;
}
#Title {
  position: absolute;
  left: -1pt;
  top: -1pt;
  width: 100%;
  height: 1in;
  text-align: left;
  font-size: 1.5em;
}
#Logo {
  position: absolute;
  left: 5.5in;
  top: 0.1in;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
#Client, #ProjectNumber{
  top: 1.0in;
}
#Client, #SiteName {
  position: absolute;
  left: -1pt;
  height: 0.5in;
  width: 3.7125in;
}
#SiteName, #SiteLocation {
  top: 1.51in;
}
#ProjectNumber, #SiteLocation {
  position: absolute;
  left: 3.7in;
  height: 0.5in;
  width: 3.7125in;
}

#PhotoID, #lPhotoID {
  position: absolute;
  left: -1pt;
  /*top: -1pt;*/
  height: 0.5in;
  width: 2in;
  z-index: 1;
}
#Date, #lDate {
  position: absolute;
  left: -1pt;
  top: 0.5in;
  height: 0.5in;
  width: 2in;
  z-index: 1;
}
#Direction, #lDirection {
  position: absolute;
  left: -1pt;
  top: 1.0in;
  height: 0.5in;
  width: 2in;
  z-index: 1;
}
#Comments, #lComments {
  position: absolute;
  left: -1pt;
  top: 1.5in;
  height: 2.35in;
  width: 1.8in;
  z-index: 1;
  padding-left: 0.2in;
  text-indent: -0.1in;
}
#Photo, #lPhoto {
  position: absolute;
  left: 2in;
  /*top: -1pt;*/
  height: 3.85in;
  width: 5.41in;
  text-align: center;
  z-index: 0;
}

.photoHelper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.Photo {
 vertical-align: middle;
}

.logElem {
  box-sizing: content-box;
  border: solid black 1pt;
  text-indent: 0.1in;
  background-color: white;
  color: black;
  vertical-align: middle;
  text-align: left;
  font-weight: bold;
  flex: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 0; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Instruction Content*/
.instrBox{
  background-color: rgba(255,255,0,0.6);
  /*opacity: 0.5;*/
  padding: 30px;
  width: 97%;
  margin: auto;
  height: auto;
  text-align: center;
  vertical-align: middle;
  font-size: 14pt;
  font-weight: bolder;
  position: relative;
}

/* The Close Button */
/*.close {*/
  /*color: #888888;*/
  /*float: right;*/
  /*font-size: 28px;*/
  /*font-weight: bold;*/
/*}*/

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close{
  float:right;
  margin-top:10px;
  margin-right:-30px;
  cursor:pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 30px;
  background: #605F61;
  font-size: 60px;
  font-weight: bold;
  display: inline-block;
  line-height: 0;
  padding: 21px 8px;
  position: fixed;
}

.close:before {
  content: "\00d7";
}

/*Next/Previous Arrows  Tricks with borders*/
.next::before {
  position: absolute;
  right: 1%;
  top: calc(50% - 0.5em);
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  border-right: 0.5em solid black;
  border-top: 0.5em solid black;
  transform: rotate(45deg);
  margin-right: 0.5em;
}
.prev::before {
  position: absolute;
  left: 1%;
  top: calc(50% - 0.5em);
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  border-right: 0.5em solid black;
  border-top: 0.5em solid black;
  transform: rotate(-135deg);
  margin-right: 0.5em;
}

/* Change color */
.next:hover::before, .prev:hover::before {
  border-color: red; /* For the arrow (which is a border) */
}

/*Print Button*/
.print:hover,
.print:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.print{
  float:right;
  margin-top:60px;
  margin-right:-100px;
  cursor:pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 45px;
  background: #605F61;
  font-size: 35px;
  font-weight: bold;
  display: inline-block;
  line-height: 0;
  padding: 30px 12px;
  position: fixed;
}

.print:before {
  content: "print";
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.loadingModal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 )
  url('../assets/loading.gif')
  50% 50%
  no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
  overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loadingModal {
  display: block;
}

@media print{
  @page {
    size: letter portrait;
    margin: 0;
  }
}
